@import "tailwindcss";

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    gap: 2rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.main-container{
    grid-column: 2 / 16;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    gap: 0.8rem;
}

article{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.3rem;
}

article > .discription{
    grid-row: 3 / 6;
}

article > .info{
    grid-row: 6 / 7;
}